{% extends 'shopping/main.html' %}
{% load static %}
{% block content %}
<h2>Store</h2>
<img src="{% static 'images/shoppingcart.png' %}" alt="Shopping Cart">
<div class="row">
    <div class="col-lg-4">
            <div class="box-element product">

            </div>
    </div>
    <div class="col-lg-4">
            <div class="box-element product">

            </div>
    </div>
    <div class="col-lg-4">
        <div class="box-element product">
            
        </div>
    </div>
</div>
{% endblock content%}

